USE [master]
GO
/****** Object:  Database [FoodOrderDB]    Script Date: 10/25/2024 12:59:49 AM ******/
CREATE DATABASE [FoodOrderDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodOrderDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.INSTANCE_ONE_SQL\MSSQL\DATA\FoodOrderDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodOrderDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.INSTANCE_ONE_SQL\MSSQL\DATA\FoodOrderDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodOrderDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodOrderDB]
GO
/****** Object:  Table [dbo].[FoodOrderDB]    Script Date: 10/25/2024 12:59:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodOrderDB](
	[OrderID] [char](3) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[FoodItem] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[OrderDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
